#sub_con{
    border: 2px solid grey;
    border-radius:10px ;
    width: 100vh;
    height: 55vh;
    position: absolute;
    left: 55vh;
    top: 30vh;
}
#email,#username,#password{
    position:relative ;
    left: 25vh;
    top: 5vh;
    padding: 10px;
}
#rec-bt{
    position:relative ;
    left: 28vh;
    top: 13vh;
    padding: 10px;   
}
#message{
    border: 2px solid greenyellow;
    background-color: rgb(146, 207, 53);
    height: 8vh;
    width: 45vh;
    padding: 10px;
    border-radius: 10px;
    position: relative;
    top: -45vh;
    right: -25vh;
}
#close{
    position: relative;
    top: -10vh;
    left:34vh;
}