/* .signin-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .signin-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 100%;
    max-width: 400px;
  }
  
  .signin-header {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  .submit-button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .submit-button:hover {
    background-color: #0056b3;
  }
  
  @media (max-width: 400px) {
    .signin-card {
      padding: 5px;
    }
  
    .signin-header {
      font-size: 20px;
    }
  
    .form-group input {
      font-size: 14px;
    }
  
    .submit-button {
      font-size: 14px;
    }
    #form_cont{
        position: relative;
        left: -53vh;
        padding-right: 150vh;
    }
  }
  
   */

   #form_cont {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
   }

   #form_cont .card {
    width: 40%;
    margin: auto;
    margin-top: 10%;
    padding: 10px 10px 20px 10px;
    align-self: center;
  }
  
  
  @media (max-width:1000px) {
    #form_cont .card {
      width: 80%;
      margin-top: 20%;
    }
  }
  
  @media (max-width:800px) {
    #form_cont .card {
      width: 80%;
      margin-top: 20%;
    }
  }
  
  
  @media (max-width:500px) {
    #form_cont .card {
      margin-top: 40%;
    }
  }
  @media (max-width:350px) {
    #form_cont .card {
      margin-top: 60%;
    }
  }